.woocommerce-checkout .tpma-field-spacer,
.woocommerce-checkout .tpma-field-spacer label,
.woocommerce-checkout .tpma-field-spacer .woocommerce-input-wrapper {
  display: block;
}

.woocommerce-checkout .tpma-field-spacer label {
  visibility: hidden;
}

.woocommerce-checkout .tpma-field-spacer input,
.woocommerce-checkout .tpma-field-spacer textarea,
.woocommerce-checkout .tpma-field-spacer select {
  visibility: hidden;
}


.tpma-checkout-group--phone{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}


.tpma-checkout-group--address{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#tpma_postcode_field,#tpma_state_field{
  grid-column: 1;
}

#tpma_street_field {
grid-column: span 2;
}

@media (max-width: 768px){
.tpma-checkout-group--phone,.tpma-checkout-group--address{
  grid-template-columns: 1fr;
}

}